<!DOCTYPE html>
<html>
<head>
  <title>Request Header Parser API</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div>
    <h1>Request Header Parser API</h1>
    <p>This API returns the IP address, language and operating system of the user's browser.</p>
    <h3>Example usage:</h3>
    <code>https://request-header-parser-backend.herokuapp.com/api/whoami/</code>
    <h3>Example output:</h3>
    <code>"{ "ipaddress":"92.99.23.157", "language":"en-US", "software":"Macintosh; Intel Mac OS X 10.10; rv:54.0" }"</code>
  </div>
</body>
</html>
